{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 6.3676953,
    "longitude": 2.4252507,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Maison",
    "time_zone": "Africa/Porto-Novo",
    "external_url": null,
    "internal_url": null,
    "currency": "XOF",
    "country": "BJ",
    "language": "fr",
    "radius": 100
  }
}